<div id="<%= dom_id room %>">
  <p>
    <strong>Title:</strong>
    <%= room.title %>
  </p>
    <p>
    <strong>Created:</strong>
    <%= room.created_at %>
  </p>
<%= link_to  "Show Room", room %>
</div>
